
<h1>Browser Cracks</h1>

<h2>User Location</h2>
<p id="demo">Here is where you are located</p>
{{!--<button onclick="getLocation()">Where Am I?</button> --}}

<div id="mapholder"></div>
<h2>User Agent Information</h2>
<div id="userAgentInfo"></div>



<script src='javascripts/client.js'>
</script>
<script>
getLocation()
httpGet()
</script>










{{!--
<body>
  <div id="map"></div>
</body>

<h2>Where have I been?</h2>
<form action="/" method="POST">
    <input type="hidden" name="latitude" value=""/>
    <input type="hidden" name="longitude" value=""/>
    <button type="submit" class="btn btn-primary btn-lg" disabled>Check In!</button>
</form>
--}}
