body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapid { height: 180px; width: 300px }

#map{ width: 400px; height: 300px; }

#userAgentInfo {width: 200px; word-wrap: break-word; display:flex;}
